@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap");

/* font-family: "Montserrat", sans-serif;
font-family: "Roboto", sans-serif; */

/* CSS-Grid Structure*/

.wrapper2 {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
}

/* hero image */
.grid-item2 img {
    /* display: grid; */
    margin-left: 50px;
    width: 100%;
    background-color: #fff;
    /* background-image: url("https://cdn.dribbble.com/users/1584767/screenshots/6364489/2019_04_selfcontained_dribbble.jpg"); */
}

/* text */

.anchor {
    color: #6886c5;
}

/* brand text */
.brandtext {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    margin-top: 70px;
    text-align: center;
    font-size: 60px;
    font-size: 2.5rem;
    letter-spacing: 0.2em;
    color: #6886c5;
    /* check smoothing */
}

/* title text */
.titletext {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.1rem;
    letter-spacing: 0.3rem;
    color: #6886c5;
}

/* subtitle text */
.subtitle {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    line-height: 1em;
    font-weight: 100;
    letter-spacing: 0.02rem;
}

.credittext {
    position: absolute;
    right: 10px;
    /* bottom: 8px; */
    margin-top: 100;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;

    color: black;
}

/* input form */
.inputform {
    text-align: center;
}
input {
    border: none;
}

.input-line {
    background-color: transparent;
    margin-bottom: 10px;
    line-height: 2.4em;
    color: rgb(51, 22, 22);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 0.02rem;
    font-size: 19px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(206, 142, 142, 0.65);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-top: 15px;
}

.input-line:focus {
    outline: none;
    border-color: rgb(99, 63, 63);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* Submit button */
.ghost-round {
    margin-top: 20px;
    cursor: pointer;
    background: none;
    border: 1px solid rgba(218, 190, 190, 0.808);
    border-radius: 25px;
    color: rgba(229, 155, 155, 0.65);
    font-size: 19px;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 2.5em;
    margin-bottom: 25px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding-left: 25px;
    padding-right: 25px;
}

.ghost-round:hover {
    background: rgba(214, 147, 147, 0.15);
    color: rgba(229, 155, 155, 0.863);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

button:focus {
    outline: none;
}

a {
    color: #6886c5;
}

@media (max-width: 500px) {
    .inputform {
        width: 100%;
        height: 100%;
    }
}
