<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Django REST with React</title>
    {% comment %}
    <link
      async
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/semantic-ui@${props.versions.sui}/dist/semantic.min.css"
    />
    {% endcomment %} {% comment %}
    <script
      async
      src="//cdn.jsdelivr.net/npm/semantic-ui@${props.versions.sui}/dist/semantic.min.js"
    ></script>
    {% endcomment %} {% comment %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    {% endcomment %}
  </head>
  <body>
    <div id="app">
      <!-- React will load here -->
    </div>
    {% load static %}
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
